@import './media.css';
@import './box_shadow.css';
@import './flex_layout.css';

@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
:root {
  --shadow-color: #9ed2ff;
  --shadow-color-light: white;
}
html {
  background: white;
  color: white;
}
body {
  margin: 0;
}

nav ul,
footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.7;
}
h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.div-light {
  margin-bottom: 10%;
  color: white;
  font-size: 120px;
  font-weight: bolder;
  animation: light 3s infinite;
  font-family: 'Chakra Petch', consolas;
}

@keyframes light {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
      0 0 20px var(--shadow-color-light), 0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color),
      0 0 30px var(--shadow-color), 0 0 0px var(--shadow-color), 0 0 0px var(--shadow-color),
      0 0 0px var(--shadow-color);
  }

  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
      0 0 20px var(--shadow-color-light), 0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color),
      0 0 80px var(--shadow-color);
  }

  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
      0 0 20px var(--shadow-color-light), 0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color),
      0 0 30px var(--shadow-color), 0 0 0px var(--shadow-color), 0 0 0px var(--shadow-color),
      0 0 0px var(--shadow-color);
  }
}
