@import './media.css';
@import './box_shadow.css';
@import './flex_layout.css';
@import './font.css';
@import './color.css';
@import url('./iconfont.css');
@import url('./col.css');
@import url('./text_dot.css');
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}
:root {
  --twenty-one-year-color: rgba(203, 238, 255, 0.812);
  --years-color-2022: rgb(245, 215, 160);
}
