<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- OK 本地写CSS样式时，路径要是 ../css，push之后要是 ./css  -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="div-light">Demo List</div>
      {{ content }}
      <!-- <a href=""> Lorem </a> -->
    </div>
    <!-- /.container -->
  </body>
</html>
